body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
    width: 100vw;
    background-color: #59D5E0;
    color:#515151;
}

.top-container {
    background-color: #59D5E0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 20vh 20vh 30vh;
    grid-template-columns: 10vw 10vw 10vw 20vw 20vw 30vw;
    color: #F5DD61;
}

.top-container > p {
    color: #FAA300;
    font-style: bold;
    margin: 0;
}

.title {
    text-align: end;
    grid-area: 4 / 4 / 7 / 7;
    margin: 5vw;
    font-size: xx-large;
}

.title > h1 {
    font-size: 3rem;
}

.cloud1 {
    height: 11vh;
    width: 22vw;
    grid-area: 2 / 2 / 3 / 3;   
}

.cloud2 {
    height: 9vh;
    width: 18vw;
    grid-area: 3 / 4 / 4 / 5;
    margin-top: 5vh;
}

.cloud3 {
    height: 10vh;
    width: 23vw;
    grid-area: 1 / 5 / 2 / 6;
    margin-top: 3vh;   
}

.cloud4 {
    height: 10vh;
    width: 20vw;
    grid-area: 3 / 6 / 4 / 7;    
}

.mountain {
    grid-area: 6 / 1 / 7 / 7;
    width: 100%;
    height: 100%;
}

.sun {
    height: 100%;
    width: 100%;
    background-color:#F5DD61;
    grid-area: 6 / 2 / 7 / 5;
    border-radius: 50%;
}

.whotext{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    background-color: #59D5E0;
    height: 17vh;
    width: 100vw;
    margin-top: 3vh;
    margin-bottom: 0;
}

.cloudwho {
    position: relative;
    width: 25em;
}

.cloudwho > img{
    position: absolute;
    right: 8em;
}

.cloudwho > h3{
    position: absolute;
    width: 20em;
    color: #515151;
    top: 4vh;
    right: 3em;
}

.cloudwho2 {
    position: relative;
    width: 25em;
}

.cloudwho2 > img{
    position: absolute;
    right: 20em;
}

.cloudwho2 > h3{
    position: absolute;
    inset: unset;
    width: 20em;
    color: #515151;
    top: 4vh;
    right: 14em;
}

.mid-container {
    padding: 10vh 10vw 0vh 10vw;
    background-color: #59D5E0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5vw;
    align-items: center;
}

.who {
    padding: 3vh 3vw 0vh 3vw;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-bottom: 3vh;
    border: 0.5lvh solid #515151;
    flex-shrink: 1;
    width: 60vw;    
}

.who > p {
    text-align: justify;
    margin: 2vh;
    color: #515151;
}

.who > img {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
}

.fin-container{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}

.fin-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100vw;
}
.fin-container1 > ul{
    padding: 3vh 3vw 0vh 3vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.fin-container1 > ul > li{
    background-color: #f2f2f2;
    padding: 3vh 3vw 0vh 3vw;
    border-radius: 20px;
    margin-bottom: 3vh;
    border: 0.5lvh solid #515151;
    flex-shrink: 1;
}

.fin-container img{
    width: 20vw;
    height: 20vh;
    margin-top: 2vh;
    border-radius: 25px;
    border: 0.5vh solid #515151;
}

footer > div{
    background-color: #f2f2f2;
    color:#515151;
    height: 20vh;
    width: 100vw;
    margin-top: 9vh;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width:770px) {
    .title{
        grid-area: 4 / 1 / 5 / 7;
        font-size: small;
        padding: 0;
        margin: 0 1vw 0 0;
    }

    .tittle > h1{
        font-size: xx-small;
    }

    .cloudwho {
        right: 13em;
        height: 13vh;
        width: 10em;
    }

    .cloudwho > h3{
        left: 6em;
        width: 10em;
    }

    .cloudwho > img{
        position: absolute;
        right: -10em;
    
    }

    .cloudwho2 {
        right: 13em;
        height: 13vh;
        width: 10em;
    }

    .cloudwho2 > h3{
        left: 6em;
        width: 10em;
    }

    .cloudwho2 > img{
        position: absolute;
        right: -10em;
    
    }

    .mid-container {
        flex-direction: column;
    }

    .who > img {
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
    }

    .fin-container1 > ul{
        flex-direction: column;
    }

    .fin-container1 > ul > li{
        width: 60vw;
        
    }

    .fin-container img{
        width:30vw;
        height: 30vw;
    }

    footer > div{
        flex-direction: column;
    }

}

